<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TimerIntervalMinutes" value="5" />
		<add key="SessionTimeoutMinutes" value="60" />
		<add key="WhiteList" value="Administrator" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>